<!-- search bar + filters -->
<div class="d-flex justify-content-between align-items-center mt-2">
  <!-- movies search bar -->
  <app-search-movies></app-search-movies>
  <!-- filters btn -->
  <span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sm"
    >
    <i class="bi bi-funnel"></i>
    filters</span
  >
</div>

<button type="button" (click)="checkMoviesData()" class="btn btn-outline-primary">chehk arat</button>


<h1 class="display-5">{{ genre?genre:"Top Movies" }}</h1>
<!-- filters in Popup -->
<app-popup-model [Id]="'sm'">
  <!-- filters -->
  <app-filters (FilteredOptions)="filteredOptions($event)"></app-filters>
</app-popup-model>

<!-- Movie popup -->
<app-popup-model
  [Id]="'ex'"
  [Title]="SelectedMove ? SelectedMove.originalTitleText.text : ''"
  [saveBtnColor]="'success'"
>
  <app-move-details [Movie]="SelectedMove"></app-move-details>
</app-popup-model>


<!-- Search results -->
<div>
  <h1 *ngIf="moviesData.Movies.length > 0">search results</h1>
  <div class="row">
    <div class="col-6 col-md-3" *ngFor="let Movie of (moviesData.Movies.length > 0 ? moviesData.Movies : Movies)">
      <app-move
        data-bs-toggle="modal"
        data-bs-target="#ex"
        class="AppMove"
        [movie]="Movie"
        (click)="ShowDetails(Movie)"
      ></app-move>
    </div>
  </div>
</div>


<!-- privous and next page btns  -->

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a 
          href="#"
          class="page-link"
          (click)="privousPage()"
          >
          <i class="bi bi-arrow-left"></i> 
            Previous
          </a>
        </li> 
        <span class="mx-2">Page  {{Page.page }}</span>
      <li class="page-item">
        <a class="page-link" 
            href="#"
            (click)="nextPage()" 
            >
              Next
              <i class="bi bi-arrow-right"></i> 

            </a>
      </li>
    </ul>
  </nav>




<!-- no Movies message  -->
<div *ngIf="Movies?.length == 0 || !Movies">
  <!-- display in bootstrap alert -->
  <div class="alert alert-danger" role="alert">
    There are no movies to display
  </div>
</div>
