<!-- search bar + filters -->
<div class="d-flex justify-content-between align-items-center mt-2">
  <!-- movies search bar -->
  <app-search-movies></app-search-movies>
  <!-- filters btn -->
  <span class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sm"
    >filters</span
  >
</div>

<h1 class="display-5">{{ genre }}</h1>
<!-- filters in Popup -->
<app-popup-model [Id]="'sm'">
  <!-- filters -->
  <app-filters (FilteredOptions)="filteredOptions($event)"></app-filters>
</app-popup-model>

<!-- Movie popup -->
<app-popup-model
  [Id]="'ex'"
  [Title]="SelectedMove ? SelectedMove.originalTitleText.text : ''"
  [saveBtnColor]="'success'"
>
  <app-move-details [Movie]="SelectedMove"></app-move-details>
</app-popup-model>

<!-- Catagories  -->
<!-- <h1 *ngFor="let genre of sportedGenres" class="display-5">{{ genre }}</h1> -->

<!-- Showing movies in list -->
<div *ngIf="Movies">
  <div class="row">
    <div class="col-6 col-md-3" *ngFor="let Movie of Movies">
      <app-move
        data-bs-toggle="modal"
        data-bs-target="#ex"
        class="AppMove"
        [movie]="Movie"
        (click)="ShowDetails(Movie)"
      ></app-move>
    </div>
  </div>
</div>

<div class="d-flex align-items-center justify-content-evenly">
  <button type="button" (click)="nextPage()" class="btn btn-outline-primary">{{Page.page}}  next page {{nextp}}</button>
  <input type="number" class="form-control " placeholder="P:NO"   />
  <button type="button" (click)="privousPage()" class="btn btn-outline-primary">{{Page.page}}  Previous page </button>
</div>


<!-- {{ MoviesTitles | json }} -->
{{ Page | json }}
<!-- netFlix way -->

<!-- no Movies message  -->
<div *ngIf="Movies?.length == 0 || !Movies">
  <!-- display in bootstrap alert -->
  <div class="alert alert-danger" role="alert">
    There are no movies to display
  </div>
</div>
