<!-- As a link -->
<nav class="navbar bg-black text-white  shadow">
    <div class="container-fluid">

        <div class="d-flex gap-2 align-items-center">
            <div (click)="onToggleSidenav()" class="text-uppercase" style="cursor: pointer;">
                <i class="bi bi-list" style="font-size: 30px;"></i>
            </div>
            <a class="navbar-brand text-white" href="#">Movies Explorer</a>
        </div>
        <div class="Login d-flex gap-2 align-items-center">
            <app-search-movies></app-search-movies>
        </div>
    </div>
</nav>