<!-- As a link -->
<nav class="navbar bg-black text-white  shadow">
    <div class="container-fluid">

        <div class="d-flex gap-2 align-items-center">
            <div (click)="onToggleSidenav()" class="text-uppercase" style="cursor: pointer;">toggle</div>
            <a class="navbar-brand text-white" href="#">Movies Explorer</a>
        </div>
        <div class="Login d-flex gap-2 align-items-center">
            <input class="rounded p-2 border w-100" type="text" placeholder="Search">
            <button class="btn btn-success rounded-5">Login</button>
        </div>
    </div>
</nav>