<div class="modal fade" [id]="Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg">
      <div class="modal-content">
        <!-- <div class="modal-header">
          <h1 class="modal-title fs-5" [id]="Id">{{Title}}</h1>
        </div> -->
        <div class="modal-body p-0">
            <ng-content></ng-content>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>