<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-2">
      
      <app-sidebar class="shadow bg-body-tertiary" (selectedOption)="sideBarResponse($event)"></app-sidebar>
    </div>
    <div class="col-10">

      <div class="container bg-body">
        <!-- Heading -->
        <h1>{{selectedCatagory}} Top 2022 Movies</h1>
        <!-- Movies List -->
        <app-movies-list [genre]="selectedCatagory"></app-movies-list>
      </div>
    </div>
  </div>
</div>
<!-- create a button and on click call getData() -->
<!-- <button  class="btn btn-primary">Get Data</button> -->