.moveDetials {
    height: 100vh;
    overflow: auto;
    position: relative;
}

.moveDetials__img {
    border: 1px solid #fff;
    height: 50%;
    position: sticky;
    top: 0;
    object-fit: center;
    object-position: center;
}

.detials {
    position: absolute;
    box-shadow: -2px -11px 18px 10px rgb(50, 49, 48);
    top: 80%;
    width: 100%;
    background-color: #000;
    color: #fff;
    overflow: auto;
}

.close {
    position: absolute;
    top: 14px;
    z-index: 50;
    right: 10;
    background-color: rgb(255, 255, 255);
    right: 11px;
    color: white;
}