
<div class="moveDetials border m-auto ">
    <div class="close"><button type="button" class="MClosse btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button></div>

    <div class="moveDetials__img">
        <!-- <img [src]="Movie?Movie.primaryImage.url:''" class="img-fluid w-100" alt="..."> -->
        <app-lazy-load-imag [Classes]="'w-100 h-100'" [url]="addResizedTextToImageUrl()"></app-lazy-load-imag>

    </div>
    <!-- create a dive and show dumay move details init -->
    <div class="detials p-3 ">
        <h1>{{Movie?.titleText?.text}}</h1>
        <p>Lorem ipsum dolor sit am</p>
        <h3>Metadata</h3>

        <p class=""><a  target="_blank" [href]="getIMDbURL()" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
            >Explore on IMDB</a></p>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{Movie?.titleText?.text}}</h5>
                <p class="card-text"><strong>Release Year:</strong> {{Movie?.releaseYear?.year}}</p>
                <p class="card-text"><strong>Title Type:</strong> {{Movie?.titleType?.text}}</p>
                <p class="card-text"><strong>Original Title:</strong> {{Movie?.originalTitleText?.text}}</p>
                <p class="card-text"><strong>Caption:</strong> {{Movie?.primaryImage?.caption?.plainText}}</p>
                <p class="card-text"><strong>ID:</strong> {{Movie?.id}}</p>
                <p class="card-text"><strong>Width:</strong> {{Movie?.primaryImage?.width}}</p>
                <p class="card-text"><strong>Height:</strong> {{Movie?.primaryImage?.height}}</p>
                <p class="card-text"><strong>Is Series:</strong> {{Movie?.titleType?.isSeries ? 'Yes' : 'No'}}</p>
                <!-- <p class="card-text"><strong>Page:</strong> {{MoviesPage?.page}}</p>
                <p class="card-text"><strong>Next:</strong> {{MoviesPage?.next}}</p>
                <p class="card-text"><strong>Number of Entries:</strong> {{MoviesPage?.entries}}</p> -->
                <!-- Add more movie details as needed -->
            </div>
        </div>

        <h3>Recommended Moves</h3>
        <div class="row g-2">
            <div *ngIf="!RandomMovies" class="row g-2">
                <div  *ngFor="let m of [1,2,3]" class="col-4">
                    <app-lazy-load-imag   [url]="'../../../assets/lagan.jpg'"></app-lazy-load-imag >
                </div>
            </div>
            <div *ngFor="let m of RandomMovies" class="col-4">
                <app-lazy-load-imag (click)="ShowMove(m)"  [url]="m?.primaryImage?.url"></app-lazy-load-imag >
            </div>
        </div>
    </div>
</div>