<div class="card move col-12 d-flex" style="background-color: #000000;color: white;">
  <!-- lazy image loading -->
  <!-- <img src="../../../assets/lagan.jpg" alt=""> -->
  <div class="imgContainer">
    <img
      [@fadeIn]="imageLoadedFlag ? 'loaded' : 'loading'"
      [lazyLoad]="addResizedTextToImageUrl()"
      (load)="imageLoaded()"
    />
  </div>
 
  <!-- Movie Details -->
  <div class="card-body">
    <h5 class="card-title">{{ movie.originalTitleText.text }}</h5>
    <div class="card-text">
      <span class="badge text-bg-info m-1"
        >ReleaseDate: {{ movie.titleType.id }}</span
      >
      <span class="badge text-bg-info m-1"
        >ReleaseYear: {{ movie.releaseYear.year }}</span
      >
      <span class="badge text-bg-info m-1"
        >Type: {{ movie.titleType.text }}</span
      >
    </div>
  </div>
</div>
